@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@keyframes blink {
  0% {
    color: #ada49e;
  }
  50% {
    color: #48483f;
  }
  100% {
    color: #ada49e;
  }
}
.construcao {
  text-align: center;
  margin-top: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  color: #303030;
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 40px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 56px;
  height: 56px;
}

.logo-name {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  animation: blink 2s infinite;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link {
  transition: 0.7 ease;
}

.nav-link:hover {
  color: #ada49e;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #ada49e;
}

.section-page {
  box-sizing: border-box;
  padding: 25px 40px;
  height: 100vh;
}

/* styles to section home */
.section-page.home {
  color: #525252;
  background-color: #fafafa;
}

.section-page.home > div {
  position: absolute;
  top: 50%;
  width: 50%;
}

.section-page h1 {
  color: #303030;
  font-size: 2rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.section-page h3 {
  color: #ada49e;
  padding-left: 5px;
  font-size: 1.5rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.section-page h2 {
  color: #303030;
  font-size: 2rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.section-page p {
  margin-top: 5px;
  color: #525252;
}

/* styles to section about */
.section-page.about {
  color: #525252;
  background-color: #ffffff;
}

.section-page.about > div {
  background-color: #fafafa;
  width: 50%;
  height: 100%;
}

.section-page.about > div > p {
  padding: 10px;
  text-align: justify;
}

/* styles to section skills */
.section-page.skills {
  color: #525252;
  background-color: #ffffff;
}

/* styles to section potfolio */
.section-page.portfolio {
  color: #525252;
  background-color: #ffffff;
}

.div-flex {
  padding-top: 10px;
  display: flex;
  margin-right: 10px;
}

.div-flex > div > h6 {
  font-size: 0.8rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #ada49e;
}

/* Estilos footer */
.footer-page {
  background-color: #ada49e;
}

.footer-page > p {
  padding: 40px;
  text-align: center;
  color: #ffffff;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-list {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ada49e;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 9999;
  }
  .nav-link:hover {
    color: #ffffff;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-list.active {
    left: 0;
  }
  .div-flex {
    display: block;
  }
  .div-flex > div {
    margin-bottom: 10px;
  }
  .section-page.home > div {
    width: 75%;
  }
  .section-page h1 {
    color: #303030;
    font-size: 1.5rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .section-page h3 {
    color: #ada49e;
    font-size: 1rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  /* about */
  .section-page.about > div {
    width: 100%;
  }
  .section-page.about > div > p {
    text-align: left;
    font-size: 0.9rem;
    padding: 3px;
  }
}/*# sourceMappingURL=style.css.map */