@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'sass/utils';

$white1: #ffffff;
$white2: #fafafa;
$gold1: #ada49e;
$black2: #525252;
$black1: #303030;
$black3: #909090;
$blue1: #48483f;

@keyframes blink {
    0% { color: $gold1 }
    50% { color: $blue1 }
    100% { color: $gold1 }
}

.construcao {
    text-align: center;
    margin-top: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $white1;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: $white1;
}

li {
    list-style: none;
}

a {
    color: $black1;
    text-decoration: none;
}

.main-nav {
    @include centerElement;
    min-height: 70px;
    padding: 0 40px;

}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 56px;
    height: 56px;
}

.logo-name {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
    animation: blink 2s infinite;
}

.nav-list {
    @include centerElement;
    gap: 50px;
}

.nav-link {
    transition: 0.7 ease;
}

.nav-link:hover {
    color: $gold1;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: $gold1;
}

.section-page {
    @include configSection;
}

/* styles to section home */
.section-page.home {
    color: $black2;
    background-color: $white2; 
}

.section-page.home > div {
    position: absolute;
    top: 50%;
    width: 50%;
}

.section-page h1 {    
    color: $black1;
    font-size: 2rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.section-page h3 {    
    color: $gold1;
    padding-left: 5px;
    font-size: 1.5rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.section-page h2 {    
    color: $black1;
    font-size: 2rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.section-page p {
    margin-top: 5px;
    color: $black2;
}

.section-page.about {
    color: $black2;
    background-color: $white1;  
}

/* styles to section skills */
.section-page.skills {
    color: $black2;
    background-color: $white1;  
}

/* styles to section potfolio */
.section-page.portfolio {
    color: $black2;
    background-color: $white1;
}

.div-flex {
    padding-top: 10px;
    display: flex;
    margin-right: 10px;
}

.div-flex > div > h6 {
    font-size: 0.8rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: $gold1;
}

/* Estilos footer */
.footer-page {
    background-color: $gold1;
}

.footer-page > p {
    padding: 40px;
    text-align: center;
    color: $white1;

}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: $gold1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;

    }

    .nav-link:hover {
        color: $white1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-list.active {
        left: 0;
    }

    .div-flex {
        display: block;
    }

    .div-flex > div {
        margin-bottom: 10px;
    }

    .section-page.home > div {
        width: 75%;
    }

    .section-page h1 {    
        color: $black1;
        font-size: 1.5rem;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 500;
    }

    .section-page h3 {    
        color: $gold1;
        font-size: 1rem;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    


}