@mixin centerElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin configSection {
    height: 100vh;
    box-sizing: border-box;
    padding: 25px 40px;
}